body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f1f2;
}
.header_wrapper {
  position: relative;
  z-index: 5;
  height: 219px;
  padding-top: 20px;
  color: #fff;
  background: #fff url(../img/logo/images/bg1.jpg) center 0 no-repeat;
  background-color: #f3f1f2;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
.header_logo a {
  display: block;
  width: 181px;
  height: 52px;
  text-indent: -999em;
  background-image: url(../img/logo/images/logo.png);
  margin-top: 8px;
}
.header_text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 15px;
  text-align: center;
}
.header_phone {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  margin-top: 8px;
  letter-spacing: 0.2px;
}
.header_phone p {
  font-size: 11px;
  font-weight: 300;
  line-height: 1;
  text-align: right;
  margin: 2px auto;
}
.header_menu {
  margin-top: 55px;
}
.header_menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
}
.header_menu li {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  padding: 12px 32px;
}
.header_menu a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  border-bottom: 2px dotted #f1f1f1;
}
.header_menu li:hover {
  background-color: rgba(162, 147, 194, 0.5);
}
.header_menu li:hover a {
  border-bottom: none;
}
.working_wrapper {
  padding-bottom: 70px;
  background-color: #f3f1f2;
  margin: 0 auto;
  width: 90%;
}
.catalog_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.catalog h1 {
  margin: 0 auto;
  font-size: 44px;
  max-width: 70%;
  margin-bottom: 32px;
  text-align: left;
  font-weight: 300;
  margin-top: 60px;
}
form {
  margin-top: 65px;
}
.inputbox {
  width: 200px;
  height: 43px;
  background-color: #f3f1f2;
  border: 1px solid #d0d0d0;
  line-height: 43px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  padding-left: 15px;
  padding-right: 40px;
  border-radius: 5px;
  background: url(../img/logo/images/searchbtn.png) right no-repeat;
}
#inputbox_hidden {
  visibility: hidden;
}
.catalog_menu a {
  text-decoration: none;
}
.pf_category {
  position: relative;
  display: block;
  padding: 25px 50px 0px 25px;
  margin: 10px;
  padding-bottom: 100px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 8px;
  background-color: rgba(78, 78, 78, 0.07);
}
.pf_category__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #000;
  border-bottom: 2px dotted #000;
}
.pf_category__desc {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #000;
}
.catalog_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.imgitem {
  padding-bottom: 50px;
}
.pf_category:hover {
  background-color: #C06B4E;
}
.pf_category:hover span {
  color: white;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJsb2Nrcy9oZWFkZXIubGVzcyIsIm1haW4uY3NzIiwiYmxvY2tzL3dvcmtpbmcubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNDLGVBQUE7RUFDRyxxQ0FBQTtFQUNBLDBCQUFBO0NDQ0g7QURFRDtFQUVJLG1CQUFBO0VBQ0EsV0FBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTtFQUNBLFlBQUE7RUFDQSx1RUFBQTtFQUNBLDBCQUFBO0NDREg7QURJRDtFQUNJLHFCQUFBO0VBQUEscUJBQUE7RUFBQSxjQUFBO0VBQ0EsK0JBQUE7RUFBQSw4QkFBQTtFQUFBLHdCQUFBO0VBQUEsb0JBQUE7RUFDQSwwQkFBQTtFQUFBLDhCQUFBO0VBQ0EsbUJBQUE7RUFDQSxXQUFBO0VBQ0EsZUFBQTtDQ0ZIO0FETUQ7RUFDSSxlQUFBO0VBQ0EsYUFBQTtFQUNBLGFBQUE7RUFDQSxvQkFBQTtFQUNBLHNEQUFBO0VBQ0EsZ0JBQUE7Q0NKSDtBRE9EO0VBQ0ksZ0JBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtDQ0xIO0FEUUQ7RUFDSSxnQkFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0VBQ0Esc0JBQUE7Q0NOSDtBRFNEO0VBQ0ksZ0JBQUE7RUFDQSxpQkFBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtFQUNBLGlCQUFBO0NDUEg7QURTRDtFQUNJLGlCQUFBO0NDUEg7QURTRDtFQUNJLHNCQUFBO0VBQ0EscUJBQUE7RUFBQSxxQkFBQTtFQUFBLGNBQUE7RUFDQSwrQkFBQTtFQUFBLDhCQUFBO0VBQUEsd0JBQUE7RUFBQSxvQkFBQTtFQUNBLDBCQUFBO0VBQUEsOEJBQUE7RUFDQSxXQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0NDUEg7QURVRDtFQUNJLG1CQUFBO0VBQ0Esc0JBQUE7RUFDQSxjQUFBO0VBQ0EsbUJBQUE7Q0NSSDtBRFVEO0VBQ0Usc0JBQUE7RUFDQSxhQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQ0FBQTtDQ1JEO0FEVUQ7RUFDQSwyQ0FBQTtDQ1JDO0FEVUQ7RUFDRSxvQkFBQTtDQ1JEO0FDaEZEO0VBQ0MscUJBQUE7RUFDRywwQkFBQTtFQUNBLGVBQUE7RUFDQSxXQUFBO0NEa0ZIO0FDaEZEO0VBQ0kscUJBQUE7RUFBQSxxQkFBQTtFQUFBLGNBQUE7RUFDQSw2QkFBQTtFQUFBLDhCQUFBO0VBQUEsMkJBQUE7RUFBQSx1QkFBQTtDRGtGSDtBQ2hGRDtFQUNDLHFCQUFBO0VBQUEscUJBQUE7RUFBQSxjQUFBO0VBQ0EsK0JBQUE7RUFBQSw4QkFBQTtFQUFBLHdCQUFBO0VBQUEsb0JBQUE7RUFDQSwwQkFBQTtFQUFBLDhCQUFBO0NEa0ZBO0FDaEZEO0VBQ0MsZUFBQTtFQUNBLGdCQUFBO0VBQ0csZUFBQTtFQUNBLG9CQUFBO0VBQ0EsaUJBQUE7RUFDQSxpQkFBQTtFQUNBLGlCQUFBO0NEa0ZIO0FDL0VEO0VBQ0MsaUJBQUE7Q0RpRkE7QUMvRUQ7RUFDQyxhQUFBO0VBQ0csYUFBQTtFQUNBLDBCQUFBO0VBQ0EsMEJBQUE7RUFDQSxrQkFBQTtFQUNBLGFBQUE7RUFDQSxxQ0FBQTtFQUNBLGlCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxtQkFBQTtFQUNBLG1CQUFBO0VBQ0Esb0JBQUE7RUFJQSxtQkFBQTtFQUNBLHFFQUFBO0NEaUZIO0FDOUVEO0VBQ0ksbUJBQUE7Q0RnRkg7QUM5RUQ7RUFDQyxzQkFBQTtDRGdGQTtBQzlFRDtFQUNFLG1CQUFBO0VBQ0UsZUFBQTtFQUNBLDRCQUFBO0VBQ0EsYUFBQTtFQUNBLHNCQUFBO0VBQ0EsNEJBQUE7RUFDQSx1QkFBQTtFQUNBLG9CQUFBO0VBRUEsbUJBQUE7RUFDQSx5Q0FBQTtDRGdGSDtBQy9FRDtFQUNJLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLDRCQUFBO0VBQ0EsdUJBQUE7RUFDQSxvQkFBQTtFQUNBLFlBQUE7RUFDQSwrQkFBQTtDRGlGSDtBQy9FRDtFQUNJLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLDRCQUFBO0VBQ0EsdUJBQUE7RUFDQSxvQkFBQTtFQUNBLFlBQUE7Q0RpRkg7QUM5RUQ7RUFFQyxxQkFBQTtFQUFBLHFCQUFBO0VBQUEsY0FBQTtFQUNBLCtCQUFBO0VBQUEsOEJBQUE7RUFBQSx3QkFBQTtFQUFBLG9CQUFBO0NEK0VBO0FDN0VEO0VBQ0MscUJBQUE7Q0QrRUE7QUM1RUQ7RUFFQywwQkFBQTtDRDZFQTtBQzFFRDtFQUVDLGFBQUE7Q0QyRUEiLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJib2R5IHtcclxuXHRtYXJnaW46IDAgYXV0bztcclxuICAgIGZvbnQtZmFtaWx5OiAnT3BlbiBTYW5zJywgc2Fucy1zZXJpZjtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNmM2YxZjI7XHJcblxyXG59XHJcbi5oZWFkZXJfd3JhcHBlciB7XHJcblxyXG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgei1pbmRleDogNTtcclxuICAgIGhlaWdodDogMjE5cHg7XHJcbiAgICBwYWRkaW5nLXRvcDogMjBweDtcclxuICAgIGNvbG9yOiAjZmZmO1xyXG4gICAgYmFja2dyb3VuZDogI2ZmZiB1cmwoLi4vLi4vaW1nL2xvZ28vaW1hZ2VzL2JnMS5qcGcpIGNlbnRlciAwIG5vLXJlcGVhdDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNmM2YxZjI7XHJcbn1cclxuXHJcbi5oZWFkZXIge1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIHdpZHRoOiA5NSU7XHJcbiAgICBtYXJnaW46IDAgYXV0bztcclxuXHJcbn1cclxuXHJcbi5oZWFkZXJfbG9nbyBhIHtcclxuICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgd2lkdGg6IDE4MXB4O1xyXG4gICAgaGVpZ2h0OiA1MnB4O1xyXG4gICAgdGV4dC1pbmRlbnQ6IC05OTllbTtcclxuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCguLy4uLy4uL2ltZy9sb2dvL2ltYWdlcy9sb2dvLnBuZyk7XHJcbiAgICBtYXJnaW4tdG9wOiA4cHg7XHJcbn1cclxuXHJcbi5oZWFkZXJfdGV4dCBwIHtcclxuICAgIGZvbnQtc2l6ZTogMTRweDtcclxuICAgIGZvbnQtd2VpZ2h0OiAzMDA7XHJcbiAgICBsaW5lLWhlaWdodDogMThweDtcclxuICAgIG1hcmdpbi10b3A6IDE1cHg7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbn1cclxuXHJcbi5oZWFkZXJfcGhvbmUge1xyXG4gICAgZm9udC1zaXplOiAyMnB4O1xyXG4gICAgZm9udC13ZWlnaHQ6IDQwMDtcclxuICAgIGxpbmUtaGVpZ2h0OiAxO1xyXG4gICAgbWFyZ2luLXRvcDogOHB4O1xyXG4gICAgbGV0dGVyLXNwYWNpbmc6IDAuMnB4O1xyXG59XHJcblxyXG4uaGVhZGVyX3Bob25lIHAge1xyXG4gICAgZm9udC1zaXplOiAxMXB4O1xyXG4gICAgZm9udC13ZWlnaHQ6IDMwMDtcclxuICAgIGxpbmUtaGVpZ2h0OiAxO1xyXG4gICAgdGV4dC1hbGlnbjogcmlnaHQ7XHJcbiAgICBtYXJnaW46IDJweCBhdXRvO1xyXG59XHJcbi5oZWFkZXJfbWVudSB7XHJcbiAgICBtYXJnaW4tdG9wOiA1NXB4O1xyXG59XHJcbi5oZWFkZXJfbWVudSB1bCB7XHJcbiAgICBsaXN0LXN0eWxlLXR5cGU6IG5vbmU7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcclxuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xyXG4gICAgd2lkdGg6IDcwJTtcclxuICAgIG1hcmdpbjogMCBhdXRvO1xyXG4gICAgZm9udC1zaXplOiAxNHB4O1xyXG59XHJcblxyXG4uaGVhZGVyX21lbnUgbGkge1xyXG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgbWFyZ2luOiAwIDJweDtcclxuICAgIHBhZGRpbmc6IDEycHggMzJweDtcclxufVxyXG4uaGVhZGVyX21lbnUgYSB7XHJcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gIGNvbG9yOndoaXRlO1xyXG4gIGZvbnQtc2l6ZTogMTdweDtcclxuICBib3JkZXItYm90dG9tOiAycHggZG90dGVkICNmMWYxZjE7XHJcbn1cclxuLmhlYWRlcl9tZW51IGxpOmhvdmVyIHtcclxuYmFja2dyb3VuZC1jb2xvcjogcmdiYSgxNjIsIDE0NywgMTk0LCAwLjUpO1xyXG59XHJcbi5oZWFkZXJfbWVudSBsaTpob3ZlciBhIHtcclxuICBib3JkZXItYm90dG9tOiBub25lO1xyXG59XHJcbiIsImJvZHkge1xuICBtYXJnaW46IDAgYXV0bztcbiAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnLCBzYW5zLXNlcmlmO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjNmMWYyO1xufVxuLmhlYWRlcl93cmFwcGVyIHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICB6LWluZGV4OiA1O1xuICBoZWlnaHQ6IDIxOXB4O1xuICBwYWRkaW5nLXRvcDogMjBweDtcbiAgY29sb3I6ICNmZmY7XG4gIGJhY2tncm91bmQ6ICNmZmYgdXJsKC4uLy4uL2ltZy9sb2dvL2ltYWdlcy9iZzEuanBnKSBjZW50ZXIgMCBuby1yZXBlYXQ7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmM2YxZjI7XG59XG4uaGVhZGVyIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1hcm91bmQ7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgd2lkdGg6IDk1JTtcbiAgbWFyZ2luOiAwIGF1dG87XG59XG4uaGVhZGVyX2xvZ28gYSB7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICB3aWR0aDogMTgxcHg7XG4gIGhlaWdodDogNTJweDtcbiAgdGV4dC1pbmRlbnQ6IC05OTllbTtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKC4uLy4uL2ltZy9sb2dvL2ltYWdlcy9sb2dvLnBuZyk7XG4gIG1hcmdpbi10b3A6IDhweDtcbn1cbi5oZWFkZXJfdGV4dCBwIHtcbiAgZm9udC1zaXplOiAxNHB4O1xuICBmb250LXdlaWdodDogMzAwO1xuICBsaW5lLWhlaWdodDogMThweDtcbiAgbWFyZ2luLXRvcDogMTVweDtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xufVxuLmhlYWRlcl9waG9uZSB7XG4gIGZvbnQtc2l6ZTogMjJweDtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgbGluZS1oZWlnaHQ6IDE7XG4gIG1hcmdpbi10b3A6IDhweDtcbiAgbGV0dGVyLXNwYWNpbmc6IDAuMnB4O1xufVxuLmhlYWRlcl9waG9uZSBwIHtcbiAgZm9udC1zaXplOiAxMXB4O1xuICBmb250LXdlaWdodDogMzAwO1xuICBsaW5lLWhlaWdodDogMTtcbiAgdGV4dC1hbGlnbjogcmlnaHQ7XG4gIG1hcmdpbjogMnB4IGF1dG87XG59XG4uaGVhZGVyX21lbnUge1xuICBtYXJnaW4tdG9wOiA1NXB4O1xufVxuLmhlYWRlcl9tZW51IHVsIHtcbiAgbGlzdC1zdHlsZS10eXBlOiBub25lO1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcbiAgd2lkdGg6IDcwJTtcbiAgbWFyZ2luOiAwIGF1dG87XG4gIGZvbnQtc2l6ZTogMTRweDtcbn1cbi5oZWFkZXJfbWVudSBsaSB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICBtYXJnaW46IDAgMnB4O1xuICBwYWRkaW5nOiAxMnB4IDMycHg7XG59XG4uaGVhZGVyX21lbnUgYSB7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgY29sb3I6IHdoaXRlO1xuICBmb250LXNpemU6IDE3cHg7XG4gIGJvcmRlci1ib3R0b206IDJweCBkb3R0ZWQgI2YxZjFmMTtcbn1cbi5oZWFkZXJfbWVudSBsaTpob3ZlciB7XG4gIGJhY2tncm91bmQtY29sb3I6IHJnYmEoMTYyLCAxNDcsIDE5NCwgMC41KTtcbn1cbi5oZWFkZXJfbWVudSBsaTpob3ZlciBhIHtcbiAgYm9yZGVyLWJvdHRvbTogbm9uZTtcbn1cbi53b3JraW5nX3dyYXBwZXIge1xuICBwYWRkaW5nLWJvdHRvbTogNzBweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2YzZjFmMjtcbiAgbWFyZ2luOiAwIGF1dG87XG4gIHdpZHRoOiA5MCU7XG59XG4uY2F0YWxvZ193cmFwcGVyIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbn1cbi5jYXRhbG9nIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1hcm91bmQ7XG59XG4uY2F0YWxvZyBoMSB7XG4gIG1hcmdpbjogMCBhdXRvO1xuICBmb250LXNpemU6IDQ0cHg7XG4gIG1heC13aWR0aDogNzAlO1xuICBtYXJnaW4tYm90dG9tOiAzMnB4O1xuICB0ZXh0LWFsaWduOiBsZWZ0O1xuICBmb250LXdlaWdodDogMzAwO1xuICBtYXJnaW4tdG9wOiA2MHB4O1xufVxuZm9ybSB7XG4gIG1hcmdpbi10b3A6IDY1cHg7XG59XG4uaW5wdXRib3gge1xuICB3aWR0aDogMjAwcHg7XG4gIGhlaWdodDogNDNweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2YzZjFmMjtcbiAgYm9yZGVyOiAxcHggc29saWQgI2QwZDBkMDtcbiAgbGluZS1oZWlnaHQ6IDQzcHg7XG4gIGNvbG9yOiBibGFjaztcbiAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnLCBzYW5zLXNlcmlmO1xuICBmb250LXdlaWdodDogMzAwO1xuICBmb250LXNpemU6IDE0cHg7XG4gIGZvbnQtc3R5bGU6IGl0YWxpYztcbiAgcGFkZGluZy1sZWZ0OiAxNXB4O1xuICBwYWRkaW5nLXJpZ2h0OiA0MHB4O1xuICAtd2Via2l0LWJvcmRlci1yYWRpdXM6IDVweDtcbiAgLW1vei1ib3JkZXItcmFkaXVzOiA1cHg7XG4gIC1tcy1ib3JkZXItcmFkaXVzOiA1cHg7XG4gIGJvcmRlci1yYWRpdXM6IDVweDtcbiAgYmFja2dyb3VuZDogdXJsKC4uLy4uL2ltZy9sb2dvL2ltYWdlcy9zZWFyY2hidG4ucG5nKSByaWdodCBuby1yZXBlYXQ7XG59XG4jaW5wdXRib3hfaGlkZGVuIHtcbiAgdmlzaWJpbGl0eTogaGlkZGVuO1xufVxuLmNhdGFsb2dfbWVudSBhIHtcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xufVxuLnBmX2NhdGVnb3J5IHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICBkaXNwbGF5OiBibG9jaztcbiAgcGFkZGluZzogMjVweCA1MHB4IDBweCAyNXB4O1xuICBtYXJnaW46IDEwcHg7XG4gIHBhZGRpbmctYm90dG9tOiAxMDBweDtcbiAgLXdlYmtpdC10cmFuc2l0aW9uOiBhbGwgLjNzO1xuICAtby10cmFuc2l0aW9uOiBhbGwgLjNzO1xuICB0cmFuc2l0aW9uOiBhbGwgLjNzO1xuICAtd2Via2l0LWJvcmRlci1yYWRpdXM6IDhweDtcbiAgYm9yZGVyLXJhZGl1czogOHB4O1xuICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDc4LCA3OCwgNzgsIDAuMDcpO1xufVxuLnBmX2NhdGVnb3J5X190aXRsZSB7XG4gIGZvbnQtc2l6ZTogMTdweDtcbiAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgbGluZS1oZWlnaHQ6IDIxcHg7XG4gIC13ZWJraXQtdHJhbnNpdGlvbjogYWxsIC4zcztcbiAgLW8tdHJhbnNpdGlvbjogYWxsIC4zcztcbiAgdHJhbnNpdGlvbjogYWxsIC4zcztcbiAgY29sb3I6ICMwMDA7XG4gIGJvcmRlci1ib3R0b206IDJweCBkb3R0ZWQgIzAwMDtcbn1cbi5wZl9jYXRlZ29yeV9fZGVzYyB7XG4gIGZvbnQtc2l6ZTogMTVweDtcbiAgZm9udC13ZWlnaHQ6IDMwMDtcbiAgbGluZS1oZWlnaHQ6IDIxcHg7XG4gIC13ZWJraXQtdHJhbnNpdGlvbjogYWxsIC4zcztcbiAgLW8tdHJhbnNpdGlvbjogYWxsIC4zcztcbiAgdHJhbnNpdGlvbjogYWxsIC4zcztcbiAgY29sb3I6ICMwMDA7XG59XG4uY2F0YWxvZ19tZW51IHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IHJvdztcbn1cbi5pbWdpdGVtIHtcbiAgcGFkZGluZy1ib3R0b206IDUwcHg7XG59XG4ucGZfY2F0ZWdvcnk6aG92ZXIge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjQzA2QjRFO1xufVxuLnBmX2NhdGVnb3J5OmhvdmVyIHNwYW4ge1xuICBjb2xvcjogd2hpdGU7XG59XG4iLCIud29ya2luZ193cmFwcGVyIHtcclxuXHRwYWRkaW5nLWJvdHRvbTogNzBweDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNmM2YxZjI7XHJcbiAgICBtYXJnaW46IDAgYXV0bztcclxuICAgIHdpZHRoOiA5MCU7XHJcbn1cclxuLmNhdGFsb2dfd3JhcHBlciB7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxufVxyXG4uY2F0YWxvZyB7XHJcblx0ZGlzcGxheTogZmxleDtcclxuXHRmbGV4LWRpcmVjdGlvbjogcm93O1xyXG5cdGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xyXG59XHJcbi5jYXRhbG9nIGgxIHtcclxuXHRtYXJnaW46IDAgYXV0bztcclxuXHRmb250LXNpemU6IDQ0cHg7XHJcbiAgICBtYXgtd2lkdGg6IDcwJTtcclxuICAgIG1hcmdpbi1ib3R0b206IDMycHg7XHJcbiAgICB0ZXh0LWFsaWduOiBsZWZ0O1xyXG4gICAgZm9udC13ZWlnaHQ6IDMwMDtcclxuICAgIG1hcmdpbi10b3A6IDYwcHg7XHJcbn1cclxuXHJcbmZvcm0ge1xyXG5cdG1hcmdpbi10b3A6IDY1cHg7XHJcbn1cclxuLmlucHV0Ym94IHtcclxuXHR3aWR0aDogMjAwcHg7XHJcbiAgICBoZWlnaHQ6IDQzcHg7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjNmMWYyO1xyXG4gICAgYm9yZGVyOiAxcHggc29saWQgI2QwZDBkMDtcclxuICAgIGxpbmUtaGVpZ2h0OiA0M3B4O1xyXG4gICAgY29sb3I6IGJsYWNrO1xyXG4gICAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnLCBzYW5zLXNlcmlmO1xyXG4gICAgZm9udC13ZWlnaHQ6IDMwMDtcclxuICAgIGZvbnQtc2l6ZTogMTRweDtcclxuICAgIGZvbnQtc3R5bGU6IGl0YWxpYztcclxuICAgIHBhZGRpbmctbGVmdDogMTVweDtcclxuICAgIHBhZGRpbmctcmlnaHQ6IDQwcHg7XHJcbiAgICAtd2Via2l0LWJvcmRlci1yYWRpdXM6IDVweDtcclxuICAgIC1tb3otYm9yZGVyLXJhZGl1czogNXB4O1xyXG4gICAgLW1zLWJvcmRlci1yYWRpdXM6IDVweDtcclxuICAgIGJvcmRlci1yYWRpdXM6IDVweDtcclxuICAgIGJhY2tncm91bmQ6IHVybCguLi8uLi9pbWcvbG9nby9pbWFnZXMvc2VhcmNoYnRuLnBuZykgcmlnaHQgbm8tcmVwZWF0O1xyXG59XHJcblxyXG4jaW5wdXRib3hfaGlkZGVuIHtcclxuICAgIHZpc2liaWxpdHk6IGhpZGRlbjtcclxufVxyXG4uY2F0YWxvZ19tZW51IGEge1xyXG5cdHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxufVxyXG4ucGZfY2F0ZWdvcnkge1xyXG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgcGFkZGluZzogMjVweCA1MHB4IDBweCAyNXB4O1xyXG4gICAgbWFyZ2luOiAxMHB4O1xyXG4gICAgcGFkZGluZy1ib3R0b206IDEwMHB4O1xyXG4gICAgLXdlYmtpdC10cmFuc2l0aW9uOiBhbGwgLjNzO1xyXG4gICAgLW8tdHJhbnNpdGlvbjogYWxsIC4zcztcclxuICAgIHRyYW5zaXRpb246IGFsbCAuM3M7XHJcbiAgICAtd2Via2l0LWJvcmRlci1yYWRpdXM6IDhweDtcclxuICAgIGJvcmRlci1yYWRpdXM6IDhweDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6IHJnYmEoNzgsIDc4LCA3OCwgMC4wNyk7fVxyXG4ucGZfY2F0ZWdvcnlfX3RpdGxlIHtcclxuICAgIGZvbnQtc2l6ZTogMTdweDtcclxuICAgIGZvbnQtd2VpZ2h0OiA2MDA7XHJcbiAgICBsaW5lLWhlaWdodDogMjFweDtcclxuICAgIC13ZWJraXQtdHJhbnNpdGlvbjogYWxsIC4zcztcclxuICAgIC1vLXRyYW5zaXRpb246IGFsbCAuM3M7XHJcbiAgICB0cmFuc2l0aW9uOiBhbGwgLjNzO1xyXG4gICAgY29sb3I6ICMwMDA7XHJcbiAgICBib3JkZXItYm90dG9tOiAycHggZG90dGVkICMwMDA7XHJcbn1cclxuLnBmX2NhdGVnb3J5X19kZXNjIHtcclxuICAgIGZvbnQtc2l6ZTogMTVweDtcclxuICAgIGZvbnQtd2VpZ2h0OiAzMDA7XHJcbiAgICBsaW5lLWhlaWdodDogMjFweDtcclxuICAgIC13ZWJraXQtdHJhbnNpdGlvbjogYWxsIC4zcztcclxuICAgIC1vLXRyYW5zaXRpb246IGFsbCAuM3M7XHJcbiAgICB0cmFuc2l0aW9uOiBhbGwgLjNzO1xyXG4gICAgY29sb3I6ICMwMDA7XHJcbn1cclxuXHJcbi5jYXRhbG9nX21lbnUge1xyXG5cclxuXHRkaXNwbGF5OiBmbGV4O1xyXG5cdGZsZXgtZGlyZWN0aW9uOiByb3c7XHJcbn1cclxuLmltZ2l0ZW0ge1xyXG5cdHBhZGRpbmctYm90dG9tOiA1MHB4O1xyXG59XHJcblxyXG4ucGZfY2F0ZWdvcnk6aG92ZXIgIHtcclxuXHJcblx0YmFja2dyb3VuZC1jb2xvcjogI0MwNkI0RTtcclxufVxyXG5cclxuLnBmX2NhdGVnb3J5OmhvdmVyIHNwYW4ge1xyXG5cclxuIGNvbG9yOiB3aGl0ZTtcclxufSJdfQ== */
